<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Inter", Arial, sans-serif;
      }
      .page-content {
        padding: 50px !important;
      }

      .page-wrapper {
        background: rgb(157, 155, 155);
      }

      .page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        width: 21cm;
        height: 29.7cm;
      }

      .page-break {
        page-break-after: always;
        overflow: hidden;
        margin: 15mm;
      }

      .page-content {
        padding: 50px !important;
      }

      .page-content h3 {
        font-size: 35px;
        text-align: left;
      }
      .page-content h4 {
        font-size: 25px;
        text-align: left;
      }

      .page-content li {
        font-size: 15px;
        color: gray;
        line-height: 1.5;
      }
      .page-content p {
        font-size: 15px;
        text-align: justify;
        hyphens: auto;
        color: gray;
        line-height: 1.6;
        margin-top: -20px;
      }

      @media print {
        body,
        page {
          background: white;
          margin: 0;
          box-shadow: 0;
        }
      }
    </style>
  </head>
  <body>
    <div class="page-wrapper">
      <br />
      <div class="page">
        <div class="page-content">
          <h3>WEB SITE PRIVACY POLICY</h3>
          <p>
            The Internet is an amazing tool. It has the power to change the way
            we live, and we're starting to see that potential today. With only a
            few mouse-clicks, you can follow the news, look up facts, buy goods
            and services, and communicate with others from around the world.
            It's important to PANORAH to help our customers retain their privacy
            when they take advantage of all the Internet has to offer.
          </p>
          <p>
            We believe your business is no one else's. Your privacy is important
            to you… and to us. So we'll protect the information you share with
            us. To protect your privacy, PANORAH follows different principles in
            accordance with world-wide practices for customer privacy and data
            protection.
          </p>
          <ul>
            <li>
              We won't sell or give away your name, mail address, phone number,
              email address, credit card number or any other information to
              anyone.
            </li>
            <li>
              Well use state-of-the-art security measures to protect your
              information from unauthorized users.
            </li>
          </ul>
          <h4>NOTICE</h4>
          <p>
            We will ask you when we need information that personally identifies
            you (personal information) or allows us to contact you. Generally,
            this information is requested when you create a Registration ID on
            the site or when you download free software, enter a contest, order
            e-mail newsletters, or join a limited-access premium site. We use
            your Personal Information for four primary purposes:
          </p>
          <ul>
            <li>
              To make the site easier for you to use by not having to enter
              information more than once.
            </li>
            <li>To help you quickly find software, services or information.</li>
            <li>To help us create content most relevant to you.</li>
            <li>
              To alert you to product upgrades, special offers, updated
              information, and other new services from PANORAH.
            </li>
          </ul>
          <h4>CONSENT</h4>
          <p>
            If you choose not to register or provide personal information, you
            can still use most of <a href="https://www.panorah.in"
              >www.panorah.in</a
            >. But you will not be able to access areas that require
            registration. If you decide to register, you will be able to select
            the kinds of information you want to receive from us by subscribing
            to various services, like our electronic newsletters.
          </p>
          <p>
            If you do not want us to communicate with you about other offers
            regarding PANORAH products, programs, events, or services by e-mail,
            postal mail, or telephone, you may select the option stating that
            you do not wish to receive marketing messages from PANORAH. PANORAH
            occasionally allows other companies to offer our registered
            customers information about their products and services, using
            postal mail only. If you do not want to receive these offers, you
            may select the option stating that you do not wish to receive
            marketing materials from third parties.
          </p>
        </div>
      </div>
      <br />
    </div>

    <div class="page-wrapper">
      <br />
      <div class="page">
        <div class="page-content">
          <h4>ACCESS</h4>
          <p>
            We will provide you with the means to ensure that your personal
            information is correct and current. You may review and update this
            information at any time at the Visitor Center. There, you can:
          </p>
          <ul>
            <li>
              View and edit personal information you have already given us.
            </li>
            <li>
              Tell us whether you want us to send you marketing information, or
              whether you want third parties to send you marketing offers.
            </li>
          </ul>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
