<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Security Policies</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Inter", Arial, sans-serif;
      }
      .page-content {
        padding: 50px !important;
      }

      .page-wrapper {
        background: rgb(157, 155, 155);
      }

      .page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        width: 21cm;
        height: 29.7cm;
      }

      .page-break {
        page-break-after: always;
        overflow: hidden;
        margin: 15mm;
      }
      .page-content h3 {
        font-size: 35px;
        text-align: left;
        line-height: 1.7;
        margin-top: -10px;
      }
      .page-content h2 {
        font-size: 35px;
        text-align: left;
        line-height: 1.7;
        margin-top: -10px;
      }
      .page-content li {
        font-size: 15px;
        color: gray;
        line-height: 1.5;
      }

      .page-content p {
        font-size: 15px;
        text-align: justify;
        hyphens: auto;
        color: gray;
        line-height: 1.3;
        margin-top: -20px;
      }

      @media print {
        body,
        page {
          background: white;
          margin: 0;
          box-shadow: 0;
        }
      }
    </style>
  </head>
  <body>
    <div class="page-wrapper">
      <br />
      <div class="page">
        <div class="page-content">
          <h2>Data Security Policies</h2>
          <p>
            PANORAH takes data security extremely seriously, and we place the
            rights of the individual and regulatory adherence at the heart of
            everything we do as a company. In light of our commitments, it is
            mandatory all staff members must observe and adhere to the following
            data security policies:
          </p>

          <h3>Data Storage Policy</h3>
          <ul>
            <li>
              All information or data that is collected and processed is subject
              to all of the applicable requirements as outlined and documented
              within this policy. This includes information collected
              electronically, by paper, telephone or data collected through any
              other means.
            </li>
            <li>
              All data must be collected, stored and protected in a secure
              location appointed by PANORAH, for a retention period as
              predefined by corresponding legislature or company policy.
            </li>
            <li>
              Staff members are strictly forbidden to retain confidential
              information or personal data not relating to themselves on their
              personal devices. Exceptions to this policy include information
              that is needed for a purpose that is work-related, temporary and
              specified and approved by a relevant manager.
            </li>
            <li>
              Staff members should avoid downloading sensitive files or
              confidential information to local devices wherever possible.
              Information being necessarily processed for work purposes may be
              exempt from this policy.
            </li>
            <li>
              Employees must install and use software and systems that have been
              licensed and approved by the company on devices while carrying out
              the duties of their role. Downloading or using any software, app
              or system that is not preapproved by the company will require
              prior approval from the company's IT Manager.
            </li>
            <li>
              All mobile and portable devices used by staff members should be
              approved by the company's IT Manager and secured to prevent
              unauthorised access or breach. Personal devices could include a
              laptop, smartphone, tablet or any other handheld computing
              devices. This policy also applies to any shared cloud storage
              spaces.
            </li>
            <li>
              All internet access and online operations carried out by employees
              could be subject to monitoring and filtering in accordance with
              relevant legislation and company policy. This monitoring should be
              carried out only by the IT Manager or an authorised member of
              staff.
            </li>
            <li>
              Employees must adhere to all applicable elements of this policy
              when using personal devices to access company resources.
              Similarly, employees must observe and adhere to all applicable
              elements of this data security policy when using equipment
              provided by PANORAHto access information externally.
            </li>
            <li>
              Employees are forbidden from using public access devices. This
              practice is allowed in some circumstances; however, prior and
              explicit approval from a line manager for regular public access
              must be obtained and recorded.
            </li>
          </ul>
        </div>
      </div>
      <br />
    </div>

    <div class="page-wrapper">
      <br />
      <div class="page">
        <div class="page-content">
          <ul>
            <li>
              Employees must use access tools provided to them by a client or
              partner of PANORAH if access is granted to any third-party storage
              system or data storage facility.
            </li>
            <li>
              It is forbidden to send, forward or submit any of the information
              or data referred to within this data security policy to a
              third-party unless deemed essential to complete approved
              processes.
            </li>
            <li>
              If an employee needs to carry out an approved submission of data
              to any relevant third-party, that data must be made secure in
              accordance with company policy and any relevant third-party data
              protection protocols.<br />
              <br />
            </li>
          </ul>
          <p>
            Please note that PANORAH will carry out regular system audits to
            monitor and ensure ongoing compliance with this data security policy
            and all regulatory requirements as outlined under GDPR.
          </p>

          <h3>Data Retention Policy</h3>
          <p>
            While PANORAH must routinely collect and store data, we are
            committed to the rights of individuals. That's why we retain all
            information and personal data for no longer than we need to. The
            necessary length of retention will often be decided on a
            case-for-case basis, bearing in mind the rationale and original
            purpose surrounding data collection and retention. Decisions of this
            nature must be made in a way that is compatible with our existing
            data retention guidelines under GDPR. For additional guidance,
            consult the following corresponding documents:
          </p>
          <ul>
            <li>Data retention and erasure policy document</li>
          </ul>

          <h3>International Data Transfer Policy</h3>
          <p>
            Employees must observe a series of restrictions that apply towards
            the international transfer of data or personal information.
            Employees are not permitted to transfer personal information or data
            outside of the United Kingdom without having obtained explicit
            permission in the first instance from the company's Data Protection
            Officer.
          </p>

          <h3>Data Encryption and Anonymisation Policy</h3>
          <p>
            PANORAH deploys encryption to secure and protect data that is stored
            on devices from unlawful processing or unauthorised access.
            Encryption is also used to protect information that is in transit.
            We also use the anonymisation of personal data wherever deemed
            prudent to ensure the rights of the individual are fully protected
            and observed. In line with these principles, we are committed to the
            use both encryption and anonymisation as a risk management tool
            alongside existing systems, to protect the company from accidental
            loss, as well as from the damage or destruction of data or personal
            information.
          </p>
        </div>
      </div>
      <br />
    </div>

    <div class="page-wrapper">
      <br />
      <div class="page">
        <div class="page-content">
          <h2>Activities that are prohibited</h2>
          <p>
            Unless otherwise noted or informed, employees are strictly forbidden
            from using company equipment, tools or systems for any purpose
            unrelated to their role responsibilities, excluding any previously
            mentioned exceptions. This policy also relates to any relevant
            systems, tools or equipment belonging to a company client or
            partner. Bearing that in mind, the following activities should be
            deemed forbidden with no exceptions:
          </p>
          <ul>
            <li>Any unauthorised replication of copyrighted materials.</li>
            <li>
              The violation of individual rights by way of the unnecessary
              collection, storage and processing of personal data or
              information.
            </li>
            <li>
              The violation of rights of an individual or organisation protected
              under intellectual property law in any jurisdiction.
            </li>
            <li>
              The use of any programme, command or interface designed to
              interfere with a user or corresponding user session.
            </li>
            <li>
              The accessing of any data, user account or server for any purpose
              unrelated to the business function of an individual's company
              role.
            </li>
            <li>
              Issuing fraudulent product or service offers from a company
              account.
            </li>
            <li>
              The allowed sharing or use of employee login credentials or
              company systems by anyone apart from the named individual.
            </li>
            <li>
              The export of proprietary or confidential information as it
              relates to the company.
            </li>
            <li>
              The export of any software or data that is in breach of regulation
              or the company's data security policy.
            </li>
            <li>Knowingly causing a network disruption or security breach.</li>
            <li>
              An employee is not allowed to access data that is not intended for
              them by logging into a system or gaining access to a confidential
              or limited-access account. The only exception to this rule is if
              the employee is granted access as part of a specific company
              project.<br /><br />
            </li>
          </ul>
          <p>
            Please note that any violation of this policy can lead to
            disciplinary action, alongside legal action where deemed prudent or
            necessary.
          </p>
        </div>
      </div>
      <br />
    </div>

    <div class="page-wrapper">
      <br />
      <div class="page">
        <div class="page-content">
          <h2>Reporting Security Issues</h2>
          <p>
            If you encounter any incidents or issues relating to the security or
            protection of information or data, you must report this immediately
            to company management. Management will subsequently take and record
            any action deemed necessary to prevent damage or loss in relation to
            a security threat. If necessary, it is the responsibility of company
            management to report relevant incidents relating to a data breach or
            information security threat to regulators or the authorities. Under
            GDPR, it also falls upon management to contact the individuals
            involved in any breach or security threat.
          </p>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
