---
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout>
  <div class="background-section">
    <p style="font-size: 1.7rem;text-align: justify; ">
      Your gateway to exceptional customer relationship management solutions! We
      understand that every business is unique, which is why we offer flexible
      and competitive pricing plans tailored to meet your specific needs.
      Whether you're a small startup or a large enterprise, our CRM solutions
      are designed to help you enhance customer relationships, streamline
      operations, and drive sustainable growth. Explore our range of affordable
      plans below to find the perfect fit for your organization and discover how
      our powerful CRM tools can transform the way you engage with customers and
      boost your business success.
    </p>
    <div class="rectangle2">
      <div class="recta">
        <h2>$19/month</h2>
        <h3>Starter Plan</h3>
        <p><span class="bold">Best For: </span>Small Businesses and Startups</p>

        <p>
          <span class="bold">Features:</span> Contact Management Task Automation
          Email Integration Basic Reporting Up to 2 Users
        </p>
      </div>
      <div class="recta">
        <h2>$49/month</h2>
        <h3>Growth Plan</h3>
        <p><span class="bold">Best For:</span> Growing Teams</p>

        <p>
          <span class="bold">Features:</span> Everything in Starter Advanced Analytics
          Sales Pipeline Management Customizable Dashboards Up to 10 Users
        </p>
      </div>
      <div class="recta">
        <h2>$99/month</h2>
        <h3>Professional Plan</h3>
        <p><span class="bold">Best For:</span> Medium to Large Businesses</p>
        <p>
          <span class="bold">Features:</span> Everything in Starter Advanced Analytics
          Sales Pipeline Management Customizable Dashboards Up to 10 Users
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
