<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Refund Policy for Digital Products</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Inter", Arial, sans-serif;
      }
      .page-content {
        padding: 50px !important;
      }

      .page-wrapper {
        background: rgb(157, 155, 155);
      }

      .page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        width: 21cm;
        height: 29.7cm;
      }

      .page-break {
        page-break-after: always;
        overflow: hidden;
        margin: 15mm;
      }
      .page-content h2 {
        font-size: 40px;
        text-align: left;
      }

      .page-content p {
        font-size: 20px;
        text-align: justify;
        hyphens: auto;
        color: gray;
        line-height: 1.6;
      }

      @media print {
        body,
        page {
          background: white;
          margin: 0;
          box-shadow: 0;
        }
      }
    </style>
  </head>
  <body>
    <div class="page-wrapper">
      <br />
      <div class="page">
        <div class="page-content">
          <h2 style="font-size: 40px;">Refund Policy for Digital Products</h2>
          <p style="font-size: 20px;color:grey">
            Thanks for purchasing our products at panorah.in operated by
            Panorah.
          </p>
          <p style="font-size: 20px;color:grey">
            We offer a full money-back guarantee for all purchases made on our
            website or any other sales channels. If you are not satisfied with
            the product that you have purchased from us, you can get your money
            back no questions asked. You are eligible for a full reimbursement
            within 14 calendar days of your purchase.
          </p>
          <p style="font-size: 20px;color:grey">
            After the 14-day period you will no longer be eligible and won't be
            able to receive a refund. We encourage our customers to try the
            product (or service) in the first two weeks after their purchase to
            ensure it fits your needs. All the refunds as per the price of the
            product will be returned in currency INR as per today's rate.
          </p>
          <p style="font-size: 20px;color:grey">
            If you have any additional questions or would like to request a
            refund, feel free to contact us at <a
              href="mailto:inquiry.panorah@gmail.com"
              >inquiry.panorah@gmail.com</a
            >.
          </p>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
