<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panorah - Terms and Conditions</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Inter", Arial, sans-serif;
      }
      .page-content {
        padding: 50px !important;
      }

      .page-wrapper {
        background: rgb(157, 155, 155);
      }

      .page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        width: 21cm;
        height: 29.7cm;
      }

      .page-break {
        page-break-after: always;
        overflow: hidden;
        margin: 15mm;
      }
      .page-content h3 {
        font-size: 30px;
        text-align: left;
      }

      .page-content h6 {
        text-align: left;
        font-size: 17px;
      }

      .page-content p {
        font-size: 16px;
        text-align: justify;
        hyphens: auto;
        color: gray;
        line-height: 1.6;
        margin-top: -30px;
      }
      .page-content li {
        font-size: 16px;
        color: gray;
        line-height: 1.5;
      }

      @media print {
        body,
        page {
          background: white;
          margin: 0;
          box-shadow: 0;
        }
      }
    </style>
  </head>
  <body>
    <!-- Page Wrapper -->
    <div class="page-wrapper">
      <br />
      <!-- First Content: Terms and Conditions -->
      <div class="page">
        <div class="page-content">
          <h3>TERMS AND CONDITIONS</h3>
          <p>APPLICABLE FROM 1ST APRIL 2023 INDIA OFFICE.</p>

          <h6 style="margin-top: -10px;">SALES:</h6>
          <p>
            A sales is considered closed as soon as one of the following
            scenario happens:
          </p>
          <ul>
            <li>Verbal Commitment</li>
            <li>WhatsApp Commitment</li>
            <li>Email Commitment</li>
            <li>PO is raised by Client</li><br />
          </ul>
          <p>
            Client is liable to pay the advance payment amount to Panorah,
            failure to do so will lead to client being charged 21% interest on
            the final invoice value every week.
          </p>

          <h6>REFUNDS, CANCELLATION, TERMINATION:</h6>
          <p>
            Panorah follows no refund, no cancellation & no termination policy.
            Payment once received for any work/product/service/software will not
            be refunded/reverted in any condition.
          </p>

          <h6>DISPUTE:</h6>
          <p>
            In case of any dispute related to ERP software project or Payments;
            Panorah reserve the right to make the final decision or solution.
            All disputes will follow no refund, no cancellation & no termination
            policy.
          </p>

          <h6>PAYMENTS:</h6>
          <p>
            All payments shall be made in the name of “Panorah”. Any payment
            made to Panorah will not be refunded in any condition. All payments
            should include the GST Amount with it.
          </p>

          <h6>SCOPE OF WORK:</h6>
          <p>
            Scope of work document is a document that mentions the accurate
            requirement of the client. It should be only submitted by the client
            to Panorah via email and then approved by Panorah Consulting stating
            “Approved” in the email. Any other scenario will lead to the default
            ERP as the final delivery of the project handover.<br /><br />
          </p>
          <p>
            If the client doesn't provide the SOW document and it is not
            approved by Panorah over email; in this scenario, the ERP software
            project is considered delivered as soon as the user id and password
            of ERP software is shared with the client over email. Anything which
            is not mentioned in SOW will be chargeable extra over the invoice at
            Rs.8500 per hour. In case Pnorah completes anything which is not
            mentioned in the SOW document knowingly or unknowingly, they are
            entitled to raise an invoice whenever they want to; for the total
            number of hours worked on those extra work.
          </p>
        </div>
      </div>
      <br />

      <!-- Second Content: Software Change or Customization Request -->
      <div class="page">
        <div class="page-content">
          <h6>SOFTWARE CHANGE or CUSTOMIZATION REQUEST:</h6>
          <p>
            A software change or customization request (SCR) is a formal
            proposal to modify an existing software application or system. It
            typically involves changes to the software's features,
            functionality, or performance. The client needs to raise an official
            request to change or customize via the official email ID.<br /><br
            />
          </p>
          <p>
            Once the change or customization request is submitted, it is
            reviewed by the technical team at Panorah. The team evaluates the
            change request and assesses its feasibility, impact, priority, and
            cost (SCR is always chargeable). If approved by both parties and the
            client clears the approved payment 100% in advance, the change
            request is assigned to a developer or development team, who
            implement the changes and test the updated software application or
            system.<br /><br />
          </p>
          <p>The Cost for SCR is Rs.8500 per hour.</p>

          <h6>SOFTWARE SUPPORT:</h6>
          <p>
            Software development support refers to the assistance provided to
            software post-project handover. It includes services such as
            technical support, issue resolution, and breakdown support.
            Technical support may include debugging code, diagnosing performance
            issues.
          </p>

          <h6>EMAILS:</h6>
          <p>
            Clients should reply to Panorah team members development team, tech
            support team, or sales team emails within 1hr, failure to do so will
            be considered as an intentional delay made by the client. This will
            fall under the “Delay by Client” policy.
          </p>

          <h6>ERP PROJECT COMPLETION:</h6>
          <p>
            ERP Project is considered as complete as soon as the Email id and
            Password is provided to the client over email for the ERP Software.
          </p>

          <h6>
            3rd PARTY SOFTWARE, HARDWARE, IOT, BIOMETRIC OR ANY OTHER DEVICE:
          </h6>
          <p>
            Any of the following 3rd Party software, hardware, IOT, Biometric,
            or any other device can only be integrated with ERP software if the
            client provides Panorah with tested and working APIs. The cost for
            the same would be as per Rs.8500 per hour.<br /><br />
          </p>
          <p>
            In case of unsuccessful integration, Panorah will charge only
            Rs.4000 per hour for the efforts done.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
